{
    "printWidth": 140,
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "eslintIntegration": true,
    "plugins": [
      "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
      "className",
      "clsx"
    ],
    "tailwindConfig": "./tailwind.config.js"
  }